<h2>Crea tu cuenta mijo!</h2>
<p style="color:red"> {{error}} </p>
{{#if next}}
<form action="/login?next={{next}}" method="post">
{{else}}
<form action="/login" method="post">
{{/if}}
  <p>
    Escribe tu correo
    <input name="email" type="email">
  </p>
  <p>
    Escribe tu contraseña
    <input name="password" type="password">
  </p>
  <input type="submit">
</form>

<a href="/facebook/login">
  <button style="background:#3b5998;color:white">
    Login con Facebook
  </button>
</a>